<h1>ログイン</h1>
<%= form_for(@user, url: login_path, html: { medhod: :post }) do |f| %>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <div>
        <%= f.submit "ログイン" %>
    </div>
<% end %>