<h1>Let's Tweet!</h1>
<div class='nav justify-content-end'>
<%= link_to '最新のツイート', root_path, class: 'nav-link' %>
</div>

<% if @post.errors.present? %>
    <ul id='errors.present?'>
        <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for(@post) do |f| %>
    <div class='form-group'>
        <%= f.text_area :content, class: 'form-controll' %>
    </div>
    <%= f.submit 'Edit!', class: 'btn btn-primary' %>
<% end %>
