<% if current_user %>
 　 　  <%= link_to 'Signout',  logout_path, class: 'navbar-item', method: :delete %>
<% else %>
 　 　  <%= link_to 'Signup', new_user_path, class: 'navbar-item' %>
 　 　  <%= link_to 'Signin', welcome_path, class: 'navbar-item' %>
<% end %>

<main id="posts-index">
    <a class="btn btn-secondary " href="/posts/new" role="button">new!</a>
	<% @posts.each do |post| %>
        <div class="card">
              <div class="card-header">
                <%=link_to '編集', post_path(id: post.id) %>
                <%= link_to "#{post.user.username}のページへ", user_posts_path(user_id: post.user_id), class:"user-link" %>
              </div>
            <div class="card-body">
                <div><%= post.content %></div>
            </div>
        </div>
	<% end %>
    <%= paginate @posts, outer_window: 3 %>
</main>